# Ignore macOS system files
.DS_Store
*/fashion-dataset/*

=======

# IDE specific files
.vscode/

# Ignore python executables
__pycache__/
*.egg-info/
*.egg
*.pyc
/build

# Datasets
/datasets/fashion_dataset/images/*